.form-wrapper {
	width: 384px;
	margin: 33px auto 213px;
	padding: 48px 32px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.form {
	display: flex;
	flex-direction: column;
	label {
		font-size: 14px;
		margin-top: 15px;
	}
	input {
		width: 320px;
		height: 40px;
		padding: 8px 12px;
		margin-top: 5px;
		border: 1px solid #bfbfbf;
		border-radius: 5px;
		&::placeholder {
			color: #bfbfbf;
			font-size: 16px;
		}
	}
}

.title {
	text-align: center;
	font-size: 20px;
	margin-bottom: 21px;
}

.url-input {
	margin-bottom: 18px;
}

.button {
	font-size: 16px;
	color: #fff;
	background-color: #1890ff;
}

.validate-message {
	margin-left: 5px;
	font-size: 12px;
	color: red;
}

.error-input {
	outline: red;
	border-color: red;
}
